@model GlobalCityManager.Models.Country

<tr>
    <tr>
        <td>@Html.LabelFor(p => p.Code)</td>
        <td>@Html.TextBoxFor(p => p.Code)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.Name)</td>
        <td>@Html.TextBoxFor(p => p.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.Region)</td>
        <td>@Html.TextBoxFor(p => p.Region)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.NationalFlag)</td>
        <td>@Html.TextBoxFor(p => p.NationalFlag)</td>
    </tr>
</tr>