@model GlobalCityManager.Models.City

<tr>
    <tr>
        <td>@Html.LabelFor(p => p.Id)</td>
        <td>@Html.TextBoxFor(p => p.Id)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.Name)</td>
        <td>@Html.TextBoxFor(p => p.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.CountryCode)</td>
        <td>@Html.TextBoxFor(p => p.CountryCode)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.District)</td>
        <td>@Html.TextBoxFor(p => p.District)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(p => p.Population)</td>
        <td>@Html.TextBoxFor(p => p.Population)</td>
    </tr>
</tr>