@model GlobalCityManager.Models.City
<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.CountryCode</td>
    <td>@Model.District</td>
    <td>@Model.Population</td>
    <td><div style="width:24px;height:24px;background:white"/></td>
</tr>